@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/    
}

body {
    background-image: linear-gradient(to right, #A5F8D3, #A0B9C6);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #80239263;
    width: 600px;
    padding: 10px;
    margin:auto
}

p {
    text-align: justify;
}

h1 {
    color: #802392;
    text-align: center;
    text-shadow: 2px 2px 3px #44124d7a;
}

h2 {
    color: #995FA3;
}
